
<div class="col-md-12 col-part-left" style="max-height:480px; overflow-y:auto; -webkit-overflow-scrolling: touch;">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Add Student</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="form-group">
                    <input type="text" class="form-control" name="regId" ng-model="regId" placeholder="Admission Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="firstName" ng-model="firstName"  placeholder="First Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastName" ng-model="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <!--<input type="text" class="form-control" name="studentClass" ng-model="studentClass" placeholder="Class">-->
                    <label>Class</label>
                    <select class="form-control" name="studentClass" ng-model="studentClass">
                        <option value="1">Class-I</option>
                        <option value="2">Class-II</option>
                        <option value="3">Class-III</option>
                        <option value="4">Class-IV</option>
                        <option value="5">Class-V</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="section" ng-model="section" placeholder="Section">
                </div>

            </div><!-- /.box-body -->

            <div class="box-footer" style="text-align: center;">
                <button type="submit" class="btn btn-primary" ng-click="addStudent()">Save</button>
                <div class="alert alert-success" ng-show="showSuccessAlert">
                    <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">x</button> <strong></strong>{{successTextAlert}}
                </div>
            </div>
        </form>
    </div><!-- /.box -->
</div><!-- ./col -->


<script src="js/input-mask/jquery.inputmask.js" type="text/javascript"></script>
<script src="js/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
<script src="js/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>


<script type="text/javascript">
                                        $(function () {
                                            //Datemask dd/mm/yyyy
                                            $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});

                                        });
</script>