
<style>

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 11px;
    display: none;
}

</style>

 <div class="container" >
 
             <h3 align="left" style="margin-right:50px;margin-top:-20px;">Bus Stop</h3>   
       
      <div id="map" ></div><div id="preMap" ></div>  
     
                                           <div id="x"></div>
<div class="form-group" ng-show="successTextAlert || errorTextAlert">
				<div class="col-md-12 col-xs-12 notification-center">
					<div class="alert" ng-class="{'alert-success': successTextAlert, 'alert-danger' : errorTextAlert}" ng-show="successTextAlert || errorTextAlert">
						<button type="button" class="close" ng-click="closeNotification()">x</button>
						<strong>{{successTextAlert}}{{errorTextAlert}}</strong>
					</div>
				</div>
			</div>		
					  <span id="waypntid" style="display:none;">{{studentDetailList[0].wayPointId}}</span>
					  <span id="pickup" style="display:none;">{{studentDetailList[0].pickTimeSummer}}</span>
					   <span id="drop" style="display:none;">{{studentDetailList[0].drop}}</span>
  <div class="row" style="display:none;">
    <div class="col-sm-4">
	 
       <p>Lattitude:<span id="spanlat">{{studentDetailList[0].lattitude}}</span>  <p>
    
      
    </div>
	<div class="col-sm-4">
       
     <p>Longitude:<span id="spanlong">{{studentDetailList[0].longitude}}</span>  <p>
      
    </div>
	</div>
	<div class="row">
    <div class="col-lm-4">
      
      <p> Lattitude:<input type="text" id="lat" ng-model="lattitude" style="width:80px;" />
      Logitude:<input type="text" id="long" ng-model="longitude" style="width:80px;" /></p>
    </div>
    
	
  </div>
 
	<div class="row">
    <div class="col-lm-4">
      <input type="checkbox" name="loc1"  id="getloc1" onclick="getLocation1();"/> current latitude and longitude.</p>
      
    </div>
	
  </div>
  <div class="row">
    <div class="col-lm-4">
      <button type="submit" class="btn btn-primary" id="btn" ng-click="sendmailForLatLongApproval()">Send Request to Update Location</button>
       <input type="text" id="waypoint" ng-model="waypoint" style="display:none;" />
    </div>
	
  </div>
</div>




<style>
#map { height: 220px; }
#map1 { height: 220px; }
.spacer {
    margin-top: 8px; /* define margin as you see fit */
}

</style>
<script>
var x = document.getElementById("demo");
document.getElementById("lat").value = "";
document.getElementById("long").value = "";
	document.getElementById("lat").disabled = true;
document.getElementById("long").disabled = true;
document.getElementById("btn").disabled = true;	
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function getLocation1() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition1, showError);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
  //alert(document.getElementById('getloc').checked);
	if(document.getElementById('getloc').checked == true){
		document.getElementById('waypoint').value=document.getElementById('waypntid').innerHTML;
	document.getElementById('lat').value=document.getElementById('spanlat').innerHTML;
	document.getElementById('long').value=document.getElementById('spanlong').innerHTML;
	document.getElementById("lat").disabled = true;
document.getElementById("long").disabled = true;
document.getElementById("btn").disabled = true;


initialize(document.getElementById('spanlat').innerHTML,document.getElementById('spanlong').innerHTML);	
	}
}

function showPosition1(position) {
  //alert(document.getElementById('getloc').checked);
	if(document.getElementById('getloc1').checked == true){
		document.getElementById('waypoint').value=document.getElementById('waypntid').innerHTML;
	document.getElementById('lat').value=Math.ceil((position.coords.latitude) * 1000000)/1000000;
	document.getElementById('long').value=Math.ceil((position.coords.longitude) * 1000000)/1000000;
	document.getElementById("lat").disabled = true;
document.getElementById("long").disabled = true;
document.getElementById("btn").disabled = false;

initialize(position.coords.latitude,position.coords.longitude);	
	}else{
	document.getElementById("lat").value = "";
document.getElementById("long").value = "";
	document.getElementById("lat").disabled = true;
document.getElementById("long").disabled = true;
document.getElementById("btn").disabled = true;	
	}
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}

function initialize(lat,longitude){
$("#map").hide();
$("#preMap").show();
//alert(document.getElementById('getloc1').value);
if(document.getElementById('getloc1').value=='on'){
//alert('hi');
$("#map1").html("");
   $("#preMap").empty();
   
   $( "<div id=\"map1\" ></div>" ).appendTo("#preMap");
var planes = [
		["Existing  - PickupTime:"+document.getElementById('pickup').innerHTML+" Drop Time :"+document.getElementById('drop').innerHTML,document.getElementById('spanlat').innerHTML,document.getElementById('spanlong').innerHTML],
		["Current",lat,longitude]
		
		];
var map = L.map('map1').setView([document.getElementById('spanlat').innerHTML,document.getElementById('spanlong').innerHTML], 16);
        mapLink = 
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: '',
            maxZoom: 18,
            }).addTo(map);

		for (var i = 0; i < planes.length; i++) {
		
		if(i==0){
		marker = new L.marker([planes[i][1],planes[i][2]])
				.bindPopup(planes[i][0])
				.addTo(map);
				 marker.valueOf()._icon.style.backgroundColor = 'green'; 
		}
		
		if(i==1){
		marker = new L.marker([planes[i][1],planes[i][2]])
				.bindPopup(planes[i][0])
				.addTo(map);
				 marker.valueOf()._icon.style.backgroundColor = 'red'; 
		}
		
		}
	
}
} 



setTimeout(function(){ 
 var planes = [
		["Existing",document.getElementById('spanlat').innerHTML,document.getElementById('spanlong').innerHTML]
		
		
		];

        var map = L.map('map').setView([document.getElementById('spanlat').innerHTML,document.getElementById('spanlong').innerHTML], 16);
        mapLink = 
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: '',
            maxZoom: 18,
            }).addTo(map);

		for (var i = 0; i < planes.length; i++) {
			marker = new L.marker([planes[i][1],planes[i][2]])
				.bindPopup(planes[i][0])
				.addTo(map);
		}
           
	//initialize(document.getElementById('spanlat').innerHTML,document.getElementById('spanlong').innerHTML); 
	
	}, 3000);

</script>

