<style>
    ul#menu {
        padding: 0;
        margin-right: 10px;
    }

        ul#menu li {
            display: inline;
        }

            ul#menu li a {
                background-color: #3CA4D8;
                color: white;
                padding: 5px 12px;
                text-decoration: none;
                border-radius: 4px 4px 0 0;
            }

                ul#menu li a:hover {
                    background-color: grey;
                }

    ul.schools-filter {
        list-style: none;
        margin-left: 10px;
        padding: 0;
    }
</style>

<div class="col-md-12 col-part-left" style="max-height: 560px;">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Manage School Holidays</h3>
        </div>
        <div class="pull-left" ng-if="user.role=='superAdmin'">
            <ul class="schools-filter">
                <li>
                    <select ng-model="selectedSchoolFilter" class="form-control" ng-change="getHolidays()"
                            ng-options="option.Id as option.Name for option in schools">
                        <option value=''>All Schools</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <ul id="menu">
                <li>
                    <a href="javascript:void(0);"
                       ng-click="addSchoolHolidayFormModal()">Add School Holiday</a>
                </li>
            </ul>
        </div>


        <div class="box-body" style="height: 437px;overflow: scroll;width: 100%;">
            <table id="dataTableGrid"
                   class="table table-bordered table-striped dt-responsive nowrap">
                <thead>
                    <tr>
                        <th ng-if="user.role=='superAdmin'">School Name</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Description</th>
                        <th>Holiday For</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="holiday in schoolHolidays.holidays | filterBySchool:selectedSchoolFilter | orderBy:'fromDate'">
                        <td ng-bind="holiday.school.name" ng-if="user.role=='superAdmin'"></td>
                        <td ng-bind="holiday.fromDate|date:'dd MMM yyyy'"></td>
                        <td ng-bind="holiday.toDate|date:'dd MMM yyyy'"></td>
                        <td ng-bind="holiday.description"></td>
                        <td ng-bind="holiday.sjaFlag=='a'?'All':(holiday.sjaFlag=='s'?'Seniors':'Juniors')"></td>
                        <td>
                            <a href="javascript:void(0);"
                               ng-click="modifySchoolHolidayForm(holiday)"><i class="ion-edit"></i>Edit</a>
                            <a href="javascript:void(0);" class="m-l-20"
                               ng-click="deleteHoliday(holiday)"><i class="ion-close"></i>Delete</a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div id="addSchoolHolidayModal" class="modal fade" tabindex="-1"
                 data-width="760" style="display: none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Add/Update School Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form name="schoolDetailsForm"
                                  ng-submit="submitSchoolHolidayForm()">
                                <div class="form-group">
                                    <label>School Name</label>
                                    <input type="text" class="form-control" ng-if="user.role=='administrator'"
                                           readonly="readonly"
                                           placeholder="School Name"
                                           ng-model="schoolHolidays.defaultSchool.name" />

                                    <ng-typeahead ng-if="user.role=='superAdmin'" on-select="fillDates" ng-model="holidayData.selectedSchool" data="schools" placeholder="start typing school name.."></ng-typeahead>
                                    <div ng-if="user.role=='superAdmin'">
                                        <input type="checkbox" value=false class="smscheckbox"
                                               style="margin-left: 5px;margin-top: 15px;margin-right: 10px;" ng-model="holidayData.addToAllSchools" />
                                        <label class="">Send Message to All?</label>
                                    </div>

                                    <label>From Date</label>
                                    <input type="date" class="form-control" ng-model="holidayData.fromDate" name="fromDate" />

                                    <label> To Date </label>
                                    <input type="date" class="form-control" ng-model="holidayData.toDate" name="toDate" />

                                    <label>Description</label>
                                    <ng-typeahead on-select="fillDates" ng-model="holidayData.selectedMasterData" data="schoolHolidayMasterData" placeholder="start typing description.."></ng-typeahead>

                                    <label>Holiday For</label>
                                    <div class="m-t-5">
                                        <label class="m-r-10">
                                            <input type="radio" ng-model="holidayData.sjaFlag" value="s" /> Seniors
                                        </label>
                                        <label class="m-r-10">
                                            <input type="radio" ng-model="holidayData.sjaFlag" value="j" /> Juniors
                                        </label>
                                        <label class="m-r-10">
                                            <input type="radio" ng-model="holidayData.sjaFlag" value="a" /> All
                                        </label>
                                    </div>
                                    <br><input type="hidden" ng-model="holidayData.id">
                                    <button type="button" data-dismiss="modal"
                                            class="btn btn-inverse">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>

        </div>

        <div class="box-footer">
            <div class="alert alert-success" ng-show="showSuccessAlert">
                <button type="button" class="close"
                        data-ng-click="switchBool('showSuccessAlert')">
                    x
                </button>
                <strong></strong>{{successTextAlert}}
            </div>
        </div>

    </div>
</div>