<style>
    ul#menu {
        padding: 0;
        margin-right: 10px;
    }

    ul#menu li {
        display: inline;
    }

    ul#menu li a {
        background-color: #3CA4D8;
        color: white;
        padding: 5px 12px;
        text-decoration: none;
        border-radius: 4px 4px 0 0;
    }

    ul#menu li a:hover {
        background-color: grey;
    }
    
            }
    
</style>

<div class="col-md-12 col-part-left">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Over Speeding Report </h3>
				<div class="pull-right backbutton" >
					<button class="btn btn-primary" ng-click="back()">Back</button>
				</div>             
            </br>
            <form role="form">
                </br>
                <div class="box-body" style="width:1000px !important;">
                    <div class="row">
                         <div class="col-md-3">
                            <label>From Date</label>
                            <input type="datetime-local" class="form-control" ng-model="fromDate" name="fromDate"/>
                        </div>
                         <div class="col-md-3">
                            <label>To Date</label>
                            <input type="datetime-local" class="form-control" ng-model="toDate" name="toDate"/>
                        </div>
                        <div class="col-md-2">
                            <label>Vehicle</label>
                            <select name="vehicleId" ng-model="vehicleId" class="form-control" ng-change="loadSpeedByFleet()">
                                <option value="">Select Vehicle</option>
                                <option value="0">All Vehicle</option>
                                <option ng-repeat="fleet in allVehicleList" value="{{fleet.id}}">{{fleet.regNumber}}</option>
                            </select>
                        </div>
                        <div class="col-md-2", ng-show="vehicleId!='0'">
                            <label>Speed Limit(km/h)</label>
                            <input type="number" class="form-control" ng-model="speedLimit"  name="speedLimit" min="0" max="150"/>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary" ng-click="loadOverSpeedReport()" style="margin-top: 20px;">Go</button>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary" ng-click="downloadOverSpeedReport()" style="margin-top: 20px;">Export in Excel</button>
                        </div>
                    </div>							
                </div>
            </form>

        </div>
          
        <div style="height: 437px;overflow: scroll;width: 100%;">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <table id="dataTableGrid" class="table table-bordered table-striped dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Vehicle</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Speed Limit</th>
                        <th>Speed</th>
                        <th>Over Speeding Dur. (Mins)</th>
                        <th>Over Speeding Movement (km)</th>
                        <th>Start Location</th>
                        <th>End Location</th>
                        <th>Path</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="location in overSpeedReportList">
                        <td>{{location.vehicle}}</td>
                        <td>{{location.startTime}}</td>
                        <td>{{location.endTime}}</td>
                        <td>{{location.speedLimit}}</td>
                        <td>{{location.speed}}</td>
                        <td>{{location.overSpeedDurationMins}}</td>
                        <td>{{location.overSpeedMovement}}</td>
                        <td> <a href="{{location.startLocation}}" target="_blank">Locate on Google</a> </td>
                        <td> <a href="{{location.endLocation}}" target="_blank">Locate on Google</a> </td>
                        <td> <a href="{{location.path}}" target="_blank">Path on Google</a> </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>