<div class="col-md-12 col-part-left" style="max-height: 480px; overflow-y: auto; -webkit-overflow-scrolling: touch;">

	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Pick/Drop Request</h3>

		</div>
		<div class="box-body chat" id="chat-box">

			<div class="item">
				
				<div class="pull-left" >
					<button href="#pickUpRequestModal"  ng-click="showPickUpModal()"  class="btn btn-primary form-control">PickUp Request</button>
				</div>
			</div>
			<div id="pickUpRequestModal" class="modal fade" tabindex="-1" style="display: none;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">New Request</h4>
				</div>
				<div class="modal-body">
					<div class="row">
					<div class="form-group">
							<div class="col-md-6 col-xs-12">
								<label for="studentName" >Student Name</label>   
								<select name="studentId" ng-model="studentId" class="form-control">
                                <option value="">Select Student</option>
                                <option value="1">All</option>
                                <option ng-repeat="student in studentDetailList" value="{{student.studentId}}">{{student.firstName}}</option>
                            </select>
							</div>
						</div>
						</div>
						<div class="row">
						<div class="form-group">
							<div class="col-md-6 col-xs-12">
								<label for="pickUpReason">Reason</label> <textarea class="form-control" rows="2" maxlength="119" id="pickUpReason" ng-model="pickUpReason" name="pickUpReason"></textarea>
							</div>
						</div>
					</div>
						<div class="row">
						<div class="form-group">
							<div class="col-md-6 col-xs-12" style="margin-top: 10px">
								<label for="pickUpTime">Pick </label> <input type="radio" ng-model="pickOrDrop" name="pickOrDrop" value="p" checked/>
							    <label for="pickUpTime">Drop </label> <input type="radio" ng-model="pickOrDrop" name="pickOrDrop" value="d" />
							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-md-6 col-xs-12"  style="margin-top: 10px">
								<label for="pickUpTime">Pick/Drop Time</label> <input type="time" ng-model="pickUpTime" name="pickUpTime" class="form-control" />
							</div>
						</div>
						
					</div>
					
					
					<div class="row">
						<div class="form-group">
							<div class="col-md-6 col-xs-12" style="margin-top:10px">
								<button type="button" data-dismiss="modal" class="btn btn-inverse">Cancel</button>
								<button type="submit" class="btn btn-primary" ng-click="sendPickUpRequest()" ng-disabled="disableButton">Done</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">  {{successTextAlert}} </div>
			</div>

			<div class="box-footer" style="text-align: center;">
				<div class="alert alert-success" ng-show="showSuccessAlert">
					<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">x</button>
					<strong></strong>{{successTextAlert}}
				</div>
			</div>
					

			 <div style="height: 437px;overflow: scroll;width: 100%;">
			      <span us-spinner="{radius:30, width:8, length: 16}"></span>
					<table id="dataTableGrid"
						class="table table-bordered table-striped dt-responsive nowrap">
						<thead>
							<tr style="background-color:lightgray;">
								<th>Student Name</th>
								<th>Date</th>
								
								<th>Reason</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pick in pickUpRecord">
								<td>{{pick.firstName}}</td>
								<td>{{pick.pickUpTime| date : "dd-MM-y hh-mm a"}}</td>
								<td>{{pick.message}}</td>
								<td>{{pick.status}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			
			<!-- /.tab-pane -->

			<!-- /.tab-pane -->
		</div>

		</div>

	</div>



