<style>
    ul#menu {
        padding: 0;
        margin-right: 10px;
    }

    ul#menu li {
        display: inline;
    }

    ul#menu li a {
        background-color: #3CA4D8;
        color: white;
        padding: 5px 12px;
        text-decoration: none;
        border-radius: 4px 4px 0 0;
    }

    ul#menu li a:hover {
        background-color: grey;
    }
            
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="js/app/controllers/bootbox.min.js"></script>
<div class="col-md-12 col-part-left">
    <div class="box box-primary">
  <div class="box-header">
            <h3 class="box-title">Student Message  Report </h3> 
			<div class="pull-right backbutton">
				<button class="btn btn-primary" ng-click="back()">Back</button>
			</div>            
            </br>
            <form role="form">
                </br>
                <div class="box-body" style="width:950px !important;">
                    <div class="row">
                     <div class="col-md-3">
                            <label>School</label>
                           <select  class="form-control" >
		                   <option value="">--Select Options--</option>
		                  <option data-ng-repeat="student in schoolList" value="{{student.id}}" >{{student.name}}</option>
		                  </select>
                        </div>
                        <div class="col-md-3">
                            <label>Date</label>
                            <input type="date" class="form-control" ng-model="fromDate" name="fromDate"/>
                        </div>
                        <div class="col-md-3">
                            <label>Vehicle</label>
                            <select name="vehicleId" ng-model="vehicleId" class="form-control" ng-change="loadScheduleByFleet()">
                                <option value="">Select Vehicle</option>
                                <option ng-repeat="fleet in allvehicleList" value="{{fleet.id}}">{{fleet.regNumber}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Schedule</label>
                            <select name="schedule" ng-model="schedule" class="form-control">
                                <option value="">Select Schedule</option>
                              <option ng-repeat="schedule in scheduleList" value="{{schedule.routeId}}">{{schedule.startTime}}-{{schedule.endTime}}</option>
                             
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary" ng-click="loadBusStopTimeReport()" style="margin-top: 20px;">Go</button>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary" ng-click="downloadBusStopTimeReport()" style="margin-top: 20px;">Export in Excel</button>
                        </div>
                    </div>							
                </div>
            </form>

        </div>

 

        <div class="box-body">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <table id="dataTableGrid" class="table table-bordered table-striped dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Message Time</th>
                        <th>Expected time</th>
                        <th>Variance</th>
                        <th>Message</th>
                        
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="studentSummary in record">
                        <td>{{studentSummary.name}}</td>
                        <td>{{studentSummary.time}}</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>{{studentSummary.message}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>