<style>
    ul#menu {
        padding: 0;
        margin-right: 10px;
    }

    ul#menu li {
        display: inline;
    }

    ul#menu li a {
        background-color: #3CA4D8;
        color: white;
        padding: 5px 12px;
        text-decoration: none;
        border-radius: 4px 4px 0 0;
    }

    ul#menu li a:hover {
        background-color: grey;
    }
</style>

<div class="col-md-12 col-part-left">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Student Stop Time Report </h3> 
			<div class="pull-right backbutton">
				<button class="btn btn-primary" ng-click="back()">Back</button>
			</div>            
            </br>
            <form role="form">
                </br>
                <div class="box-body" style="width:950px !important;">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Date</label>
                            <input type="date" class="form-control" ng-model="fromDate" name="fromDate"/>
                        </div>
                        <div class="col-md-3">
                            <label>Vehicle</label>
                            <select name="vehicleId" ng-model="vehicleId" class="form-control"  ng-change="loadStudentsByFleet()">
                                <option value="">Select Vehicle</option>
                                <option ng-repeat="fleet in allVehicleList" value="{{fleet.id}}">{{fleet.regNumber}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Student</label>
                            <select name="studentId" ng-model="studentId" class="form-control"">
                                <option value="">Select Student</option>
                                <option ng-repeat="student in studentListByFleet" value="{{student.studentId}}">{{student.firstName}} {{student.lastName}}</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary" ng-click="loadStudentStopTimeReport()" style="margin-top: 20px;">Go</button>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary" ng-click="downloadStudentStopTimeReport()" style="margin-top: 20px;">Export in Excel</button>
                        </div>
                    </div>							
                </div>
            </form>

        </div>

        <div class="box-body">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <table id="dataTableGrid" class="table table-bordered table-striped dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Stop Name</th>
                        <th>Stop Description</th>
                        <th>Bus reached at</th>
                        <th>Stopover time</th>
                        <th>Location Link</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="location in studentStopTimeReportList">
                        <td>{{location.wayPointName}}</td>
                        <td>{{location.wayPointDesc}}</td>
                        <td>{{location.reachTime}}</td>
                        <td>{{location.stayDuration}}</td>
                        <td><a href="{{location.mapUrl}}" target="_blank">Locate on Map</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>