              
<!-- <div class="col-md-6" style="padding:1px; background-color: #000000;">
   
   <div id="map" style="height: 400px;"></div>
           
</div> --> 

<style>
  #mapDivId {
    min-height: 480px;
  }
</style>

<div class="col-md-12 col-part-left" style="padding:1px; background-color: #000000;">
<leaflet center="india" layers="layers" paths="studentPaths" markers="markers" id="mapDivId"></leaflet>
</div>
<!-- <h1>Load remote paths example</h1>
<p>Click on red route (Popup) or hover over green route (Label) to get more information</p> -->
<!-- <button ng-click="loadPaths()">Load Paths data!</button>
<button ng-click="changePaths()" ng-disabled="!europeanPaths.p1">Change Paths!</button>       -->                                        
                     