<div class="col-md-12 col-part-left" style="max-height:480px; overflow-y:auto; -webkit-overflow-scrolling: touch;">

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Bus Details </h3>
            </div>
            <div class="box-body chat" id="chat-box">
                <!-- chat item -->
                <div class="item" ng-repeat="schoolDetail in schoolDetailList">
                    <p>
                    	<div ng-if="user.role=='authenticated'">                   	
                       	
                        <b>Bus Number : </b> {{schoolDetail.busNumber}}<br>
                        <b>Driver Name: </b> {{schoolDetail.driverName}}<br>
                        <b>Driver Mobile : </b> <a href="tel:{{schoolDetail.driverMobile}}" ng-show="schoolDetail.driverMobile">{{schoolDetail.driverMobile}}</a><br>
                        <b>Conductor Name : </b> {{schoolDetail.navigatorName}}<br>
                        <b>Conductor Mobile : </b> <a href="tel:{{schoolDetail.navigatorMobile}}" ng-show="schoolDetail.navigatorMobile">{{schoolDetail.navigatorMobile}}</a><br>
                        <b>Attendant Name : </b> {{schoolDetail.conductor2Name}}<br>
                        <b>Attendant Mobile : </b> <a href="tel:{{schoolDetail.conductor2Mobile}}" ng-show="schoolDetail.conductor2Mobile">{{schoolDetail.conductor2Mobile}}</a><br>
                        </div>
                    </p>
                </div>
                <div class="box-footer" style="text-align: center;"></div>
            </div>
        </div>
</div>