<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
<style>
body {
	padding-top: 1em;
}

.bg-1 {
	background-color: #eee;
	padding: 10px 10px;
	margin: 10px 0px;
}

.bg-2 {
	background-color: #c4e3f5;
	padding: 10px 10px;
	margin: 10px 0px;
}
</style>
<!-- 
<div class"container">
	<h3 align="center">Fleet Summary</h3>
</div>  -->
<div class="container text-left">
	<h3>Fleet Summary</h3>
	<div ng-show="toggleDisplay(1)" class="container-fluid" ng-repeat="fleet in fleetReportList">
		<div class="card-columns">
			<div class="card" ng-class="{'bg-1':$index%2==0,'bg-2':$index%2!=0}">
				<div class="card-block text-nowrap">
					<h4 class="card-title">Vehicle: {{fleet.vehicle}}</h4>
					<div class="row">
						<div class="col-sm-12">
							<p class="card-text text-left">
								Halt Duration: {{fleet.haltDuration}}</br> Move Duration: {{fleet.moveDuration}}</br> Total Movement: {{fleet.totalMovement}}</br> Avg. Move Speed: {{fleet.avgMoveSpeed}}</br> Current Location: {{fleet.location}}</br> Max Speed: {{fleet.maxSpeed}}</br> Over Speed Events: {{fleet.overSpeedEvents}}</br> Long Halt Events: {{fleet.longHaltEvents}}
							</p>
							<button class="btn btn-primary" ng-click="showMap(fleet.id)">Show Map</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- jQuery library -->
<script src="//code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<!-- Tether -->
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!-- Bootstrap 4 Alpha JS -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- Initialize Bootstrap functionality -->
<script>
	// Initialize tooltip component
	$(function() {
		$('[data-toggle="tooltip"]').tooltip()
	})

	// Initialize popover component
	$(function() {
		$('[data-toggle="popover"]').popover()
	})
</script>
<div ng-init="loadFleetReport();"></div>