<div class="col-md-12 col-part-left" style="max-height:480px; overflow-y:auto; -webkit-overflow-scrolling: touch;">
      <div class="box box-primary"> 
<h4 class="box-title">Incoming Request</h4>
<div class="box-footer" style="text-align: center;">
				<div class="alert alert-success" ng-show="showSuccessAlert">
					<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">x</button>
					<strong></strong>{{successTextAlert}}
				</div>
			</div>
<div  style="height: 437px;overflow: scroll;width: 100%;">
<table id="dataTableGrid"
				class="table table-bordered table-striped dt-responsive nowrap">
			
				<tbody>
					<thead>
							<tr style="background-color:lightgray;">
								<th>Student Name</th>
								<th>User Name</th>
								<th>Date</th>
								<th>Class</th>
								<th width="50%">Message</th>
								<th  style="margin-left: 50px">Action</th>
								
							</tr>
						</thead>
					<tr
						ng-repeat="pick in pickUpalerts | orderBy:'pickUpTime'" >
                        <td>{{pick.firstName}}</td>
                        <td>{{pick.userName}}{{pick.userLName}}</td>
                        <td>{{pick.pickUpTime| date:'d/M/y h:mm a'}}</td>
                        <td>{{pick.className}}</td>
						<td>{{pick.userName}} is requesting for {{pick.message}} his kid-{{pick.firstName}} at {{pick.pickTime}} </td><td>     
                        <a href="javascript:void(0);" 
					    ng-click="aproveRequest(pick.uuid,'A')"><i class="ion-ios-checkmark-outline"></i>Approve</a><a href="javascript:void(0);" style="margin-left: 50px"
						ng-click="aproveRequest(pick.uuid,'R')"><i class="ion-ios-close-outline"></i>Cancel</a></td>
						
					</tr>
				</tbody>
			</table>
			
			</div>
</div>
</div>