

<style>
ul#menu {
	padding: 0;
	margin-right: 10px;
}

ul#menu li {
	display: inline;
}

ul#menu li a {
	background-color: #3CA4D8;
	color: white;
	padding: 5px 12px;
	text-decoration: none;
	border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
	background-color: grey;
}
 @media screen and (min-width: 700px) {
        .modal {
          width: 700px; /* New width for large modal */
        }
</style>

<div class="col-md-12 col-part-left" style="max-height: 560px;">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Manage RouteSchedule</h3>
			<div class="pull-right addbutton">
				<ul id="menu">
					<button href="#addRouteScheduleModal" data-toggle="modal" ng-click="initAddUser()" class="btn btn-primary form-control">Add RouteSchedule</button>
				</ul>
				
			</div>
			<div class="box-footer" style="text-align: center;">
				<div class="alert alert-success" ng-show="showSuccessAlert">
					<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">x</button>
					<strong></strong>{{successTextAlert}}
				</div>
			</div>		
		</div>
		<div class="box-body">
		<div class="form-group">
				
				<div class="col-md-12">
				
					<div class="col-md-3 col-xs-6">
					<label class="pull-left" style="margin-left:-37px;margin-top: 6px;">Route</label>
					<select name="name" ng-model="name"
						class="form-control" style="
    margin-bottom: 10px;margin-left: 10px;">
						<option value="">All School</option>
						<option ng-repeat="routeModel in schoolList"
							value="{{routeModel.name}}">{{routeModel.name}}</option>
					</select>
					
					
				</div>
				<div class="col-md-9">
				     <div class="pull-right" style="font-size: large;">
				         <label>Count : {{getRouteScheduleDetails.length}}</label>
				     </div> 
				</div>
				
				</div>
			
			
				</div>
			<div class="form-group"></div>	
			<div style="height: 437px;overflow: scroll;width: 100%;">
			<table id="dataTableGrid" class="table table-bordered table-striped dt-responsive nowrap">
				<thead>
					<tr>
						<th>School</th>
						<th>Schedule Name</th>
						<th>Route Name</th>
						<th>Senior/Junior</th>
						<th>Start Time</th>
						<th>End Time</th>
						
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					
					<tr ng-repeat="route in getRouteScheduleDetails | filter:{schoolName : name  } ">
						<td>{{route.schoolName}}</td>
						<td>{{route.scheduleName}}</td>
						<td>{{route.routeName}}</td>
						<td>{{route.scheduleFlag}}</td>
						<td>{{route.startTime}}</td>
						<td>{{route.endTime}}</td>
						<td><a href="javascript:void(0);" ng-click="editRouteSchedule(route)">
								<i class="ion-edit"></i> Edit
							</a> 
								</td>
					</tr>
				
				</tbody>
			</table>
</div>
			
		</div>

		<div id="addRouteScheduleModal" class="modal fade" tabindex="-1" style="display: none;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add/Update RouteSchedule</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-8 col-xs-12">
						<form name="userForm" ng-submit="addRouteSchedule()">
							<div class="form-group">
							
							<table style="width:630px;height:250px;" cellpadding="10">
							<tr>
							    <td><label>School</label> </td><td>
								<select name="schoolId" ng-model="schoolId" class="form-control" ng-change="getRouteBySchool(schoolId)">
                                <option value="">Select School</option>
                                <option ng-repeat="school in schoolList" value="{{school.id}}">{{school.name}}</option></select></td>
                                
							     <td><label  style="margin-left:10px;">Route Name</label></td> <td>
								<select name="routeId" ng-model="routeId" class="form-control">
                                <option value="">Select Route</option>
                                <option ng-repeat="school in routeList"  value="{{school.routeId}}">{{school.routeName}}</option></select></td>   
										   
									  </tr>
									  <tr>
									      
										   <td><label>Schedule</label></td> <td> <input type="text" ng-model="scheduleName" name="scheduleName" class="form-control" /></td>
                                     
							<td><label style="margin-left:10px;">Schedule Flag</label></td>
							<td><select name="scheduleFlag" ng-model="scheduleFlag" class="form-control">
								 <option value="">Select ScheduleFlag</option>
								 <option value="a">All</option>		   
                                <option value="s">Senior</option>
                                <option value="j">Junior</option>
                                
                                </select></td>    
										   
									  </tr>
									  <tr>
									       <td> <label>Start Time</label></td> <td> <input type="time" ng-model="sTime" name="sTime" class="form-control" /></td>
									 <td> <label style="margin-left:10px;">End Time</label></td> <td> <input type="time" ng-model="eTime" name="endTime" class="form-control" /></td>
									  </tr>
								</table>
							    <input type="hidden" ng-model="scheduleId">
								<button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
								<button type="submit"  class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>

	<div class="box-footer">
		<div class="alert alert-success" ng-show="showSuccessAlert">
			<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">x</button>
			<strong></strong>{{successTextAlert}}
		</div>
	</div>

</div>