<style>
    ul#menu {
        padding: 0;
        margin-right: 10px;
    }

    ul#menu li {
        display: inline;
    }

    ul#menu li a {
        background-color: #3CA4D8;
        color: white;
        padding: 5px 12px;
        text-decoration: none;
        border-radius: 4px 4px 0 0;
    }

    ul#menu li a:hover {
        background-color: grey;
    }
          
            .scrollit {
    overflow:scroll;
    height:400px;
}

.red{
    background-color: #FFD2CC !important;
}

/*  table tr td:nth-child(2) {
         width:120px;
          }
          table tr td:nth-child(3) {
         width:120px;
          }
          table tr td:nth-child(4) {
         width:120px;
          }
          table tr td:nth-child(5) {
         width:736px;
          }
thead, tbody { display: block; }*/
/* .table-container {
    height: 29em;
}
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}

.table-container {
    padding: 0.3em;
}
table {
    border: 1px solid lightgrey;
}
table td, table th {
    padding: 0.3em;
    border: 1px solid lightgrey;
}
table th {
    border: 1px solid grey;
} */

/* tbody, thead tr { display: block;  }
 table tr td:nth-child(1) {
         width:647px;
          }
          
        
tbody {

    height: 57vh;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    width: 200vh;
} */
            
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="js/app/controllers/bootbox.min.js"></script>
<div class="col-md-12 col-part-left" style="max-height: 560px;">
    <div class="box box-primary">
  <div class="box-header">
            <h3 class="box-title">Student Message Report </h3> 
			<div class="pull-right backbutton">
				<button class="btn btn-primary" ng-click="back()">Back</button>
			</div>            
            </br>
           
                </br>
                <div class="box-body">
                <div class="form-group">
                    <div class="col-md-12" style="margin-left: -31px;">
                     <div class="col-md-2 col-xs-2 col-sm-2" style="width: 190px;" ng-show="user.role == 'superAdmin'">
                            <label>School</label>
                            <select name="name" ng-model="name" class="form-control" ng-change="loadVehicleBySchool(name)">
		                   <option value="">--Select Options--</option>
		                  <option data-ng-repeat="school in schoolList" value="{{school.name}}" >{{school.name}}</option>
		                  </select>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2" style="width: 186px;">
                            <label>Date</label>
                          <input type="date" class="form-control" ng-model="date" value={{date}} />
                            
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2"  ng-show="user.role == 'superAdmin'">
                            <label>Vehicle</label>
                            <select name="vehicleId" ng-model="vehicleId" class="form-control" ng-change="loadScheduleByFleet()">
                                <option value="">Select Vehicle</option>
                                <option ng-repeat="fleet in allvehicleList" value="{{fleet.id}}">{{fleet.regNumber}}</option>
                            </select>
                        </div>
                          <div class="col-md-2 col-xs-2 col-sm-2" ng-show="user.role == 'administrator'">
                            <label>Vehicle</label>
                            <select name="vehicleId" ng-model="vehicleId" class="form-control" ng-change="loadScheduleByFleet()">
                                <option value="">Select Vehicle</option>
                                <option ng-repeat="fleet in vehicleList" value="{{fleet.id}}">{{fleet.regNumber}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <label>Schedule</label>
                            <select name="schedule" ng-model="schedule" class="form-control">
                                <option value="">Select Schedule</option>
                              <option ng-repeat="schedule in scheduleList" value="{{schedule.routeId}}">{{schedule.startTime}}-{{schedule.endTime}}</option>
                             
                            </select>
                        </div>
                        <div class="col-md-1 col-xs-1 col-sm-1">
                            <button type="submit" class="btn btn-primary" ng-click="loadStudentMessageReport()" style="margin-top: 22px;margin-left: 38px;">Go</button>
                        </div>
                        <div class="col-md-1 col-xs-1 col-sm-1">
                            <button type="submit" class="btn btn-primary" ng-click="downloadReport()" style="margin-top: 22px;margin-left: 26px;">Export in Excel</button>
                        </div>
                    </div>							
                </div>
           
              </div>


 
       <div class="pull-right" style="margin-right: 12px;font-size: large;">Count : {{record.length || 0}}</div>
           <div class="form-group"></div>	
           <div style="height: 437px;overflow: scroll;width: 100%;">
            <table id="dataTableGrid" class="table table-bordered table-striped dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Bus Stop id</th>
                        <th>Message Date</th>
                        <th>Expected time</th>
                        <th>Message Time</th>
                        <th>Variance</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="studentSummary in record">
                        <td>{{studentSummary.name}}</td>
                        <td>{{studentSummary.wayPointId}}</td>
                        <td>{{studentSummary.date}}</td>
                        <td>{{studentSummary.expectedTime}}</td>
                        <td>{{studentSummary.actualTime}}</td>
                        <td ng-class="{'red': studentSummary.timeVariance < '00:00:00' }" >{{studentSummary.timeVariance}}</td>
                        <td>{{studentSummary.message}}</td>
                    </tr>

                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>