              
<!-- <div class="col-md-6" style="padding:1px; background-color: #000000;">
   
   <div id="map" style="height: 400px;"></div>
           
</div> --> 

<style>
  #mapDivId {
     height: 90vh;
  background-color: #222;
  font-family: monospace;
  padding: 2rem;
  }
  
   .content {
	padding: 0px 15px;
	border: double;
}
html, body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f9f9f9;
    }

</style>

<div class="col-md-12 col-part-left" style="padding:1px; background-color: #000000;overflow-x: hidden !important;">
<leaflet center="india" layers="layers" paths="studentPaths" markers="markers" id="mapDivId"></leaflet>
</div>
<!-- <h1>Load remote paths example</h1>
<p>Click on red route (Popup) or hover over green route (Label) to get more information</p> -->
<!-- <button ng-click="loadPaths()">Load Paths data!</button>
<button ng-click="changePaths()" ng-disabled="!europeanPaths.p1">Change Paths!</button>       -->                                        
                     